@media (max-width: 991px) {
    .container-card-images {
        width: 100%;
        height: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-steps {
        display: flex;
        justify-content: space-between;
        width: 90%;
        position: absolute;
        max-width: 380px;
    }

    .card-next,
    .card-previous {
        width: 2rem;
        height: 2rem;
        background: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    }
    .card-next img {
        width: 8px;
        height: 10px;
    }

    .card-previous img {
        width: 8px;
        height: 10px;
    }

    .img-product-mobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 408px;
    }
}
