* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: hsl(0, 0%, 100%);
    width: 100vw;
    height: 100vh;
    --color-primary-orange: hsl(26, 100%, 55%);
    --color-primary-pale-orange: hsl(25, 100%, 94%);
    --color-neutral-veryDark-blue: hsl(220, 13%, 13%);
    --color-neutral-darkGrayish-blue: hsl(219, 9%, 45%);
    --color-neutral-lightGrayish-blue: hsl(223, 64%, 98%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 35%);
}
